<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>{{subject}}</title>
</head>
<body>
  <h1>You have been invited to test {{game}} through Alpha Stage!</h1>
  <br>
  <p>
    Your key for {{game}} is <strong>{{key}}</strong>. You can redeem it using the <a href="http://alphastagegames.com/">Alpha Stage desktop app</a>.
  </p>
  <br>
  <p>
    We hope you have fun playing and helping improve {{game}}.
  </p>
  <br>
  <p>
    All the best,<br>Alpha Stage Team
  </p>
</body>
</html>
